.movies-detail {
  display: flex;
  flex-direction: column;

  &-header {
    position: relative;
    height: 340px;

    img {
      object-fit: cover;
      z-index: 0;
    }

    &-content {
      position: absolute;
      inset: 0;
      box-shadow: inset 0 0 100px 30px black;
      backdrop-filter: blur(10px);
    }
  }

  &-information {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding: 0 30px;

    &-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}